/* VARIABLES */
/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-inter {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.roboto-large {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* PAGE LAYOUT */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-container main {
  flex: 1;
}

/* ICONES */
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* BODY */
body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* HEADER */
header {
  min-width: 375px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .return {
  position: absolute;
  left: 0;
  display: flex;
  margin-left: 20px;
}
header .return span {
  font-size: 20px;
  color: #353535;
  margin-right: 10px;
}
header .logo {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo img {
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* IMAGE */
.img-top {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

/* MENU */
.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
  margin-top: -35px;
  z-index: 10;
  border-radius: 50px 50px 0 0;
}
.menu h1 {
  font-size: 28px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.categorie {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 90%;
  position: relative;
  animation-delay: 5s;
  opacity: 0;
  animation: fadeInUp 1s forwards;
}
.categorie .categorie:nth-child(1) {
  animation-delay: 0.5s;
}
.categorie .categorie:nth-child(2) {
  animation-delay: 2s;
}
.categorie .categorie:nth-child(3) {
  animation-delay: 5s;
}
.categorie .titre-categorie {
  font-size: 16px;
  margin-left: 10px;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.categorie .trait-categorie {
  position: absolute;
  width: 40px;
  height: 3px;
  border-bottom: solid 2px #99E2D0;
  top: 40px;
  left: 10px;
}

.restostar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  width: 90%;
}
.restostar input {
  opacity: 0;
  position: absolute;
  right: 10%;
  z-index: 999;
  width: 30px;
  height: 30px;
}
.restostar span {
  position: absolute;
  right: 10%;
  font-size: 30px;
}
.restostar i {
  position: absolute;
  right: 10%;
  opacity: 0;
  font-size: 30px;
  color: #9356DC;
  transition: all 0.5s ease-in-out;
}
.restostar input:checked + span {
  opacity: 0;
}
.restostar input:checked + span + i {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.restostar input:hover + span {
  opacity: 0;
}
.restostar input:hover + span + i {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.card-plat {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgb(242, 234, 234);
  background-color: #ffffff;
  height: 80px;
  margin-bottom: 20px;
  transition: all 0.3s ease-out;
}
.card-plat:hover > .prix-plat {
  animation: checkanim 0.3s;
  animation-fill-mode: forwards;
}
.card-plat:not(:hover) .prix-plat {
  animation: checkanimreverse 0.3s both;
}
@keyframes checkanim {
  0% {
    width: 0px;
  }
  100% {
    width: 60px;
  }
}
@keyframes checkanimreverse {
  0% {
    width: 60px;
    height: 100%;
  }
  100% {
    width: 0px;
    height: 100%;
  }
}
.card-plat .check {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
  width: 70px;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  z-index: 1;
}
.card-plat .check i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  color: #99E2D0;
  border-radius: 100%;
}
.card-plat:hover > .check {
  animation: checkanim 0.3s;
  animation-fill-mode: forwards;
  display: flex;
}
.card-plat:not(:hover) .check {
  width: 0;
  height: auto;
  animation: 0.3s backwards;
}
.card-plat .titre-plat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  height: 50px;
}
.card-plat .titre-plat h2 {
  font-size: 18px;
  margin: 0;
  margin-top: 20px;
}
.card-plat .titre-plat p {
  font-size: 15px;
  margin-top: 10px;
}
.card-plat .prix-plat {
  position: absolute;
  right: 20px;
  display: flex;
  margin-right: 20px;
  margin-top: 20px;
  color: #353535;
  height: 100%;
  top: 10px;
  transition: all 0.5s ease-out;
}

/* COMMANDER BUTTON */
.commander {
  display: flex;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 0.5s ease;
}
.commander a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 40%;
  padding: 20px;
  box-shadow: 0px 5px 5px rgb(194, 194, 194);
  border-radius: 30px;
  background: linear-gradient(177deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: white;
  border: none;
  text-decoration: none;
  margin-top: 20px;
  transition: all 1s ease, box-shadow 1s ease;
}
.commander a:hover {
  background: linear-gradient(177deg, rgba(255, 121, 218, 0.85) 0%, rgba(147, 86, 220, 0.85) 100%);
  box-shadow: 0px 5px 15px rgb(129, 121, 121);
}

/* FOOTER */
footer {
  color: #ffffff;
  background-color: #363636;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
}
footer .footer-logo {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}
footer .links {
  margin-top: 20px;
  margin-left: 10px;
}
footer p {
  margin: 0 0 10px 10px;
  text-align: left;
}
footer h4 {
  margin: 0 0 20px 20px;
  font-size: 24px;
}
footer a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1000px) {
  .menu {
    width: 70%;
  }
  .categorie {
    margin-bottom: 10px;
  }
  .img-top {
    height: 400px;
  }
  .page-container {
    align-items: center;
  }
  .restostar {
    width: -moz-fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
  }
  .restostar h1 {
    margin-right: 20px;
  }
  .restostar span {
    margin-left: 10px;
  }
  .restostar input {
    right: -10%;
  }
  .restostar span {
    right: -10%;
  }
  .restostar i {
    right: -10%;
  }
  .commander a {
    margin-bottom: 30px;
    width: 30%;
    padding: 15px 10px;
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    height: 114px;
    align-items: center;
  }
  footer .footer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
    justify-content: end;
    align-items: center;
  }
  footer .footer p {
    display: flex;
    margin: 0 10px;
    align-items: end;
    text-wrap: nowrap;
    flex-direction: row-reverse;
  }
  footer .footer h4 {
    display: flex;
    margin: 0 50px 0 50px;
    align-items: end;
    flex-direction: row-reverse;
  }
  footer .footer .logo-footer {
    align-items: end;
    justify-content: center;
    padding-right: 0;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
  }
  footer .footer .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
  }
  footer .footer .footer-logo {
    align-items: flex-end;
  }
}/*# sourceMappingURL=style-restaurant.css.map */